.height {
  margin-top: 10vh;
}
.container {
  background-color: #f5f5f;
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: auto;
  margin-top: 6vh;
  margin-right: 100 vh;
  border-radius: 25px;
  background-color: #ffffff;
  opacity: 1;
  /* background-image: radial-gradient(#000000 2px, transparent 2px),
    radial-gradient(#000000 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px; */
  background-image: radial-gradient(
    #000000 1.2000000000000002px,
    #ffffff 1.2000000000000002px
  );
  background-color: #e5e5f7;
  opacity: 0.8;

  background-size: 46px 81px;
  background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;
}



.height2 {
  margin-top: 5vh;
}
.home5
{
  margin-left: 5vh;
}
.container2 
{
  margin-top : 20vh;
  width: 250vh;
  height: 100vh;
}